@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-07-29 19:56:37
 * @version $Id$
 */
.header_content
{
	/*display: inline-block;*/
	margin:0;
	float:left;
}

.header
{
	/*relative to the header*/
	background-color:#00ced1;
	width:100%;
	height: 100px;
	
	/*relative to the word inside*/
	padding-left:8%;
	line-height:100px;	
	font-size:30px;
	font-weight:bold;
	color:white;
	font-family:monospace;
	box-shadow:1px #cccccc;	
	clear:left;
}


#search_icon
{
	
	float:left;
	line-height:100px;
}

@media screen and (min-width: 1600px) {

#search_icon{margin-left:80%;}

}

@media screen and (min-width: 1250px) and (max-width: 1599px) {

#search_icon{margin-left:75%;}  

}

@media screen and (min-width: 1000px) and (max-width: 1250px) {

#search_icon{margin-left:70%;}  

}

@media screen and (min-width: 750px) and (max-width: 1000px) {

#search_icon{margin-left:65%;}  

}

@media screen and (min-width: 650px) and (max-width: 750px) {

#search_icon{margin-left:60%;}
.header{font-size:27px;}
}

@media screen and (min-width: 550px) and (max-width: 650px) {

#search_icon{margin-left:58%;}
.header{font-size:24px;}
}

@media screen and (min-width: 300px) and (max-width: 550px) {

#search_icon{margin-left:54%;}
.header{font-size:21px;}
}
/*
@media screen and (max-device-width: 450px) {
*/
@media screen and (max-width: 450px){
body{width:450px;}
#search_icon{margin-left:240px;}
.header{font-size:21px;padding-left:16px;}
}

