@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-07-29 19:56:37
 * @version $Id$
 */
.nav {
    background-color: #00BCD4;
    height:90px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.nav li {
  display: inline;
}

.header {
    font-size: 1.5em;
    color: white;
    padding-top: 12px;
    padding-bottom: 30px;
}

.glyphicon-search {
    margin-right: 50px;
}