@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-07-23 20:05:14
 * @version $Id$
 */
.jumbotron {
	height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
	margin-bottom: 45px;
	margin-top: 2px;
}

#content {
	background-color: #fff;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

#content h1 {
	color: #00BCD4;
}

#content h3 {
	color: rgba(0,0,0,0.54);
}

#content h3 small {
	color: rgba(0,0,0,0.54);
}

#content p {
	font-size: 18px;
}

.divider {
	border-bottom: 1px dashed black;
	margin-bottom: 10px; 
}