@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-07-23 20:05:14
 * @version $Id$
 */
.jumbotron {
	height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
	margin-bottom: 45px;
}

.container {
	background-color: #fff;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.container h1 {
	color: #00BCD4;
}

.container h3 {
	color: rgba(0,0,0,0.54);
}

.container h3 small {
	color: rgba(0,0,0,0.54);
}

.container p {
	font-size: 18px;
}

#top {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.btn-circle {
	background-color: #FBB040;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}

.divider {
	border-bottom: 1px dashed black;
	margin-bottom: 10px; 
}