@charset "UTF-8";
/**
 * post list stylesheet
 * @authors Your Name (you@example.org)
 * @date    2015-08-04 22:38:00
 * @version $Id$
 */
 a{
 	font-family: "微軟正黑體";
 }
 a:hover{
 	text-decoration: none;
 }
 .post {
	background-color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	border-bottom-color: rgba(0,0,0,0.1);
	box-shadow:0 2px 0px rgba(0,0,0,0.12);

	
}
.post h3{
	color: #455A64;
	transition: all 0.2s ease-in-out 0s;
	text-decoration: none;
	cursor: pointer;
	font-family: "Open Sans","xingothic-tc-w3","微軟正黑體","Microsoft JhengHei";
	font-weight: normal;
	font-size: 25px;
	line-height: 36px;
}

.post h3:hover{
	color: rgba(33, 150, 243, 0.75);
}
.post h5{
	color:  rgba(33, 150, 243, 0.75);
	transition: all 0.2s ease-in-out 0s;
	text-decoration: none;
	cursor: pointer;
	font-family: "Roboto",sans-serif;
}

.post h5:hover{
	color:  rgba(33, 50, 243, 0.75);
}



.row{
	margin-right:10%;
	margin-left:10%;

}
.thumb{
	height: 250px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;

}

.thumb img{
	max-width:600px;
	width:250px;

}
.tabs {
    font-size: 1.5em;
    margin-top: 30px;
    text-align: center;
    margin-right: 0%;
    margin-left: 0%;
}
.tabs li{
    display: inline;
}
.tabs li a{
    color: black;
    padding: 5px 15px;
    transition: 0.1s ease background,color 0.1s;
    border-radius: 2px;
}

.tabs li :hover{
	color: white;
	background-color: orange;
	text-decoration: none;
}
.tabs li .active{
	color: white;
	background-color: orange;
}
.header-image img{
	
}

@media screen and (min-width: 785px)and (max-width: 1599px) {
.mobile{
	display: none;
}
.desktop{
	display: inline;
}
.tabs{
	margin-right: 0%;
    margin-left: 0%;
}
.header-image{
	text-align: center;
	width:80%;
}
.thumb img{
	max-width:600px;
	width:200px;

}


}
 @media screen and (min-width: 450px) and (max-width: 780px){
.desktop{
	display: none;
}
.mobile{
	display: inline;
}
.thumb img{

	width:100%;
    margin-left:-15px;
}
.header-image{
	text-align: center;
	width:80%;
}
.thumb{
	height: 250px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;

}
.thumb img{
	max-width:600px;
	width:200px;

}


}
 @media screen and (max-width: 450px){
.desktop{
	display: none;
}
.mobile{
	display: inline;
}
.thumb img{

	width:200px;
    margin-left:-15px;
}
.nav{
	width:100%;
	z-index: 10;
}
.container{
	width:100%;
	padding-right: 0px; 
    padding-left: 0px; 
    margin-right: 0; 
    margin-left: 0; 
}
.ng-scope{
	width:100%;
}
.fb_iframe_widget {
    display: inline-block;
    position: relative;
    width: 100%;
}
.row{
	margin-right: 5%;
    margin-left: 5%;
}
.tabs {
    font-size: 1.4em;
    margin-top: 30px;
    text-align: center;
    margin-right: 0%;
    margin-left: -5%;
}
.tabs li a{
	color: black;
    padding: 0px;
    transition: 0.1s ease background,color 0.1s;
    border-radius: 2px;

}
.more-link a{
	color: #57AD68;
	font-family: "Roboto",sans-serif;
}
.more-link a:hover{
	vertical-align: bottom;
}
p{
	font-family: "Open Sans","xingothic-tc-w3","微軟正黑體","Microsoft JhengHei";
	line-height: 30px;

}
.header-image{
	text-align: center;
	width:100%;
}


}


