 <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
 <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">LOGO BANNER</span>
      <div class="glyphicon glyphicon-search" id="search_icon"></div>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#fixed-tab-1" class="mdl-layout__tab is-active">分類一</a>
      <a href="#fixed-tab-2" class="mdl-layout__tab">分類二</a>
      <a href="#fixed-tab-3" class="mdl-layout__tab">分類三</a>
      <a href="#fixed-tab-4" class="mdl-layout__tab">分類四</a>
    </div>
    </div>
  </header>
  </div>
