<link href="css/postpage.css" rel="stylesheet">
<div class="jumbotron" ng-style="jumb"></div>
<div class="container">
	<div ng-include="'views/tabs.html'"></div>
</div>
<div id="content" class="container">
	<div id="post" class="row">
		<div class="col-md-12">
			<h1>{{ title }}</h1>
			<h3>by&nbsp;{{ author }}&nbsp;&nbsp;<small>{{ date | date:'yyyy-MM-dd HH:mm:ss' }}</small></h3>
			<div ng-bind-html="deliberatelyTrustDangerousSnippet()"></div>
		</div>
	</div>
	<div class="divider"></div>
	<div id="fb" class="row">
		<div class="col-md-12">
			<div class="fb-like" data-layout="standard" data-action="like" data-width="500"></div>
			<div class="fb-share-button" data-layout="button_count"></div>
		</div>	
	</div>
	<div id="fb" class="row">
		<div class="col-md-12">
			<div class="fb-comments" ng-attr-data-href="{{ link }}" data-width="630" data-numposts="5"></div>
		</div>	
	</div>
</div>
<div id="top">
	<button type="button" class="btn btn-circle" scroll-top=""><span class="glyphicon glyphicon-chevron-up"></span></button>
</div>