<style type="text/css">
.tabs {
    font-size: 1.5em;
    margin-top: 30px;
    padding-left: 0px;
}
.tabs li{
    display: inline;
}
.tabs li a{
    color: black;
    padding: 5px 15px;
}
.tabs li .active{
	color: white;
	background-color: orange;
}
</style>
<!-- Tabs -->
<ul class="tabs row">
	<li><a id="cat1" href="#/category/1" class="">分類一</a></li>
	<li><a id="cat2" href="#/category/2" class="">分類二</a></li>
	<li><a id="cat3" href="#/category/3" class="">分類三</a></li>
	<li><a id="cat4" href="#/category/4" class="">分類四</a></li>
</ul>
